.blog{
	height:100%;
	margin:10px 0px 0px 10px;
}


h3{	
	width: 950px;
	height: 100%;
	margin: 20px 0px 0px 0px;
}
img{
	width: 700px;
	margin:10px 0px 0px 110px 
}

p{	
	width: 800px;
	height: 100%;
	font-size: 20px;

	margin-left:60px;
	margin-top:10px;
}

.data{
	margin:20px 0px 0px 30px ;
}



footer{
	margin-top: 0px;
}
